{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
        {% for route in routes %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top img-responsive" src="http://lorempixel.com/257/100/sports/1" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{ route.node.title }} ({{ route.distance }}k)</h4>
                        <p class="card-text">{{ route.description | raw }}</p>
                        <a href="/{{ route.node.alias.alias }}" class="btn btn-primary">View details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Statistics
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Total routes: 5</li>
                    <li class="list-group-item">Total distance: 100k</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
