{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Newest trails
                </a>
                {% for trail in trails %}
                    <a href="{{ path('trail_show', {'id': trail.node.id}) }}" class="list-group-item">{{ trail.node.title }} ({{ trail.distance }}k)</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
