body {
    background-color: #ffffff;
    color: #000000;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 250px;
}
html {
    min-height: 100%;
    position: relative;
}

.app-navbar {
    background-color: #333333;
}
.navbar a {
    color: #999999;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.app-header {
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    margin-bottom: 40px;
}

footer {
    background-color: #f9f9f9;
    bottom: 0;
    border-top: 0.05rem solid #e5e5e5;
    color: #999;
    height: 180px;
    position: absolute;
    width: 100%;
}
footer ul {
    margin: 30px 0;
}
